.scrot_group_wrap {

}
.group_btn {
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 0px;
    padding: 0px 20px;
    margin: 2px;
    font-size: 24px;
    font-weight: bold;
    color: #777;
}
