attrs
cairocffi
certifi
cffi
charset-normalizer
finnhub-python
flake8
halo
idna
jsonschema-specifications
log-symbols
mccabe
nose2
pep8-naming
platformdirs
psutil
pycodestyle
pycparser
pyflakes
pywal
qtile
qtile-extras
referencing
requests
rpds-py
six
spinners
termcolor
tomlkit
types-colorama
typing-extensions
urllib3
xcffib
yapf

