URxvt.font:                 xft:Monospace:size=14
URxvt.scrollBar:            false

*depth:                     32
!*background:                rgba:0000/0000/0200/c800
*background:                [80]#000000
URxvt*foreground:#CBCBCB

urxvt.cursorColor: #a5a5a5

! black
URxvt.color0: #393939
URxvt.color8: #474747

! red
URxvt.color9: #c06d68

! green
URxvt.color10: #75c68f

! yellow
URxvt.color11: #38bf82

! blue
URxvt.color12: #7b9cc6
!URxvt.color12: #5ea2f9

! magenta
URxvt.color13: #c67b9c

! cyan
URxvt.color14: #7bc2c6
!URxvt.color14: #22f9f6

! white
URxvt.color15: #EEEEEE

! !TABS
!URxvt.perl-ext-common : default,tabbed
URxvt.perl-ext-common : tabbedex
URxvt.tabbed.tabbar-fg: 9
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 14
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.autohide: true
URxvt.tabbed.title: false
URxvt.tabbed.new-button: false

! Default tabe movemments
URxvt.keysym.Shift-Down:    tabbedex:new_tab
URxvt.keysym.Shift-Right:   tabbedex:next_tab
URxvt.keysym.Shift-Left:    tabbedex:prev_tab
URxvt.keysym.Shift-Up:      tabbedex:rename_tab
URxvt.keysym.Control-Left:  tabbedex:move_tab_left
URxvt.keysym.Control-Right: tabbedex:move_tab_right


! TO SOURCE
! xrdb .Xresources
!
