[Desktop Entry]
Icon=text-html
Name=deep-learning-with-python
Type=Link
URL[$e]=https://www.manning.com/books/deep-learning-with-python
X-KDE-LastOpenedWith=firefox
